
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 1440px;
    height: auto;
    margin: 0 auto;
    /* border: 2px solid green; */
}
.header{
    width: 1440px;
    height: 121px;
    border: 1px solid red;
    padding-top: 16px;
    
}
.header-img{
    width: 416px;
    height: 64px;
    margin: 0 auto;
}

.section-one{
    width: 1440px;
    height: 607px;

}
.section-one-img{
    width: 1440px;
    height: 607px;
    background-image: url('./images/backgroung-img.png');
    padding: 102px 100px;
}

.secction-one-img-h1{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.secction-one-img-h1 span{
    color: #E67136;
}

.secction-one-img-btn{
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    gap: 10px;
    width: 222px;
    height: 59px;
    margin: 0 auto;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.section-twe{
    width: 1440px;
    height: 726px;
    background-color: #F5F4F4;
    padding: 0 132px;
    margin-bottom: 100px;
}
.section-twe-containt{
    display: flex;

}
.section-twe-containt-left{
    width: 678px;
    height: auto;
    /* border: 1px solid red; */
    margin-right: 35px;
    margin-top: 92px;
   
}
.section-twe-containt-left-h1{
    width: 678px;
    height: 21px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: #E67136;
    margin-bottom: 48px;

}
.section-twe-containt-left-h3{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 48px;

}
.section-twe-containt-left-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 48px;

}
.section-twe-containt-left-btn{
    width: 327px;
    height: 62.37px;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px;
    gap: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;

}


.section-three{
    width: 1440px;
    height: 750px;
    background-color: #F5F4F4;
    padding: 0 132px;
    margin-bottom: 100px;

}

.section-three-container{
    display: flex;
    justify-content: space-between;

}
.section-three-container-left{
    width: 463px;
    height: 573px;
    padding-top: 30px;
}

.section-three-container-right{
    width: 659px;
    height: auto;
    /* border:  1px solid greenyellow; */
}

.section-three-container-right-h1{
    width: 659px;
    height: 226px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #E67136;
    margin-top: 60px;
}
.section-three-container-right-p{
    width: 578px;
    height: 148px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin: 55px 0;

}
.section-three-container-right-btn{
    width: 326px;
    height: 60px;
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 10px;
    margin: 0 auto;
    border: none;
}
/* section four */

.section-four{
    width: 1440px;
    height: 750px;
    background-color: #F5F4F4;
    padding: 0 132px;

}
.section-four-container{
    display: flex;
    justify-content: space-between;
    padding: 26px;

}

.section-four-container-left{
    width: 623px;
    height: auto;
    /* border: 2px solid #f57575; */
}
.section-four-container-left-h1{
    /* width: 424px; */
    height: 181px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #E67136;
    margin-top: 72px;
}
.section-four-container-left-p{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-align: center;
    align-items: center;
    margin: 50px 0;
}
.section-four-container-left-btn{
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    gap: 10px;
    width: 326px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
}

.section-five{
    width: 1440px;
    height: 670px;
    /* border: 2px solid red; */
}

.section-five-container .section-five-container-h1{
    width: 739px;
    height: 47px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #E67136;
    margin: 58px auto;
}


.section-five-container-center{
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.section-five-container-center-img .img{
    display: flex;
    margin: 0 auto;
}

.section-five-container-center-img .wonderful{
    width: 146px;
    height: 48px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 24px auto;
    
}
.section-five-container-center-img .grab{
    width: 329px;
    height: 53px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;

}

.section-five-container-center-img .customized{
    width: 327px;
    height: 48px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 24px auto;

}

.section-five-container-center-img .accelerate{
    width: 158px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin:  0 auto;
}


.section-five-container-center-img .exclusive{
    width: 332px;
    height: 51px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 24px auto;

}

.section-five-container-center-img .getyour{
    width: 215px;
    height: 55px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 0 auto;

}

.section-five-container-center-img .quick{
    width: 328px;
    height: 63px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 24px auto;

}

.section-five-container-center-img .faten{
    width: 227px;
    height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

/* section six */

.section-six{
    width: 1440px;
    height: 415px;
    /* border: 2px solid red; */
    padding: 50px 142.5px;
    background-color: #F5F4F4;
}



.section-six-container .grab{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 65px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.section-six-container .grab span{
    color: #E67136;
    font-weight: 1000;
}

.section-six-container .every{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-six-container .whenyou{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 65px;
}

.section-six-container .section-six-container-btn{
    background: #E67136;
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    gap: 10px;
    width: 326px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    border: none;
}


.section-eigth{
    width: 1440px;
    height: 743px;
    /* border: 1px solid red; */
    padding:47px 38px;
    background-color: #F5F4F4;
    margin-bottom: 50px;
}
.rewards{
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #E67136;

}


.section-container-box1, .section-container-box2{
    display: flex;
    justify-content: space-around;
}

.section-container-box1, .section-container-box2 .box{
    margin: 50px 0;
}

.section-nine{
    margin: 0 auto;
}

.block{
    width: 400px;
    height: 400px;
    /* border: 1px solid; */
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2{
    font-size: 30px;
    font-weight: 800;
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.box{
    display: flex;
    /* margin-left: 40px; */
}
.login{
    width: 50%;
    height: 35px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #888;
    display: block;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
.login:hover{
    position: p;
    cursor: pointer;
    background-color: rgb(13, 208, 75);
    color: white;
    border-radius: 5px;
}
input{
    width: 90%;
    height: 30px;
    padding-left: 8px;

}

a{
    text-decoration: none;
    color: rgb(238, 42, 156);
}
a:focus{
    color: black;
}
button{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(20, 56, 232);
    margin: auto;
    display: block;
    color: white;
}
